<div class="book-sidebar">
  <h4 class="site-meta">
    <a href="<%= config.root %>"><%= config.title %></a>
  </h4>
  <div class="sidebar-content">
    <%- sidebar %>
  </div>
  <div>
  	本书基于<strong><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh">署名-非商业性使用-禁止演绎 4.0 国际 (CC BY-NC-ND 4.0)</a></strong>共享
  </div>
</div>

<%- js('js/book-sidebar') %>

<script>
collapse_sidebar(<%= theme.collapse_depth %>)
highlight_tab()
show_sidebar()
</script>